@font-face {
    font-family: 'Helvetica Neuecyr Light';
    src: url('../fonts/helveticaneuecyr-light.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(../img/background1920x1080.png) no-repeat #4eabda;
    background-size: cover;

    font-family: "Helvetica Neuecyr Light";
    color: #fff;
}

header {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;

    line-height: 36px;
    background: url("../img/img-noise-36x36.png") repeat-x;
}

.nav__menu {
    display: inline-flex;
}

header a {
    text-decoration: none;
    color: #fff;
}

.nav__menu a:hover{
    background: #4eabda;
    color: #ffffff;
}

.nav__menu a {
    margin: 0 11px;
    padding: 0 10px;
    color: #4f9ed6;
}

.nav__menu a:last-child {
    margin-right: 20px;
}

.v__line {
    height: 31px;
    width: 1px;

    align-self: center;

    margin: 0 33px 0 11px;

    background: #56a2dc;
}

header img {
    height: 23px;
    padding: 6px 11px 6px 19px;
}

.user__menu {
    display: inline-flex;
}

.user__menu a {
    padding: 0 10px;
}

.user__menu a:last-child {
    margin-right: 20px;
}

.user__menu a:first-child:before {
    width: 25px;
    height: 25px;
    content: " ";
    position: absolute;

    top: 4px;
    right: 345px;

    background: url("../img/flag_white.png") no-repeat no-repeat;
}

.user__menu a:first-child:hover:before{
    background: url("../img/flag_blue.png") no-repeat no-repeat;
}

.user__menu a:first-child:hover {
    background: url(../img/hover__button.png) repeat-x;

}

.user__menu a:last-child:hover span {
    border-bottom: 2px solid #abc7e5;
}

.wrapper__reg__from {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 25px;
}

.reg__form {
    padding-top: 4%;
    width: 561px;
    height: 674px;

}

.name__block {
    height: 63px;

    display: flex;
    justify-content: center;

    border-bottom: 2px solid #bec9b9;
    background: rgba(0, 0, 0, 0.63);
}

.name__block h3 {
    align-self: center;

    font-size: 24px;
}


.reg__block {
    height: 551px;

    padding-top: 36px;
    background: rgba(0, 0, 0, 0.63);
}

.facebook__button {
    display: flex;

}

.facebook__button input {
    width: 276px;
    height: 35px;

    cursor: pointer;
    background: url(../img/facebook__button.png) no-repeat;
    border: none;

    margin: 0 auto;
}

.facebook__button input:active {
    background: url(../img/facebook__button__active.png) no-repeat;
}

.line {
    display: flex;
    justify-content: center;

    padding: 32px 0;
}

.reg__block .line hr {
    width: 124px;
    margin: auto 3px;

    border: none;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000000;
}

.line p {
    font-size: 14px;
    color: #999999;
}

.input__block {
    display: flex;
    justify-content: center;
}

.input__center,
.checkbox__center,
.button_center {
    display: flex;
}

.input__center input{
    width: 257px;
    height: 35px;

    margin: 0 auto;
    margin-bottom: 19px;
    padding-left: 20px;

    font-size: 14px;
    background: #000;
    color: #ffffff;

    border: none;
    border-bottom: 1px solid #484948;
}

.input__center input:focus {
    background-color: #1b5288;
    box-shadow: 0px 0px 10px 5px rgba(67, 125, 168, 1);
    border-bottom: 1px solid #1b5288;
}

.checkbox__center input{
    /*margin: 0 auto;*/
    margin-left: 145px;
    margin-top: -1px;

    margin-bottom: 22px;
}

.checkbox__center p {
    padding-left: 4px;
    margin-top: -1px;

    color: #acaba9;
    font-size: 14px;
}

.button_center input{
    width: 149px;
    height: 33px;

    margin: 0 auto;
    margin-bottom: 16px;

    border: none;
    border-radius: 4px;

    cursor: pointer;
    background: url("../img/button_create.png");

    color: #ffffff;
}

.policy {
    display: flex;
    justify-content: center;
}

.policy p {
    width: 300px;
    font-size: 11px;
    color: #acaba9;
    text-align: center;
}
